<div class="a1">
  <div class="container">
    <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <select name=""  class="custom-select">
        <option  value="en" [selected]="lang == 'en'">English</option>
        <option  value="de"  [selected]="lang == 'de'">Deutsch</option>
        <option  value="ar"  [selected]="lang == 'ar'">Arabic</option>
      </select>
    </div>
    </div>
    </div>
    

  <div class="b1">
    <form #createForm="ngForm" (ngSubmit)="onSubmitForm(createForm.value)">  
        <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="form-control" ngModel required><br>
      <label for="desc">Description:</label><br>
      <textarea name="description" id="desc" cols="30" rows="10"  class="form-control" ngModel></textarea>
      <input class="mt-2 btn btn-success"  type="submit" value="{{editMode ? 'Update details' : 'Add details'}}">
  </form>
  </div>

  <div class="b2 ms-3 table" >
    <table class="table-striped">

        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Organisation_id</th>
        </tr>
        <tr  *ngFor="let details of detailsService.detailsArray.data | paginate:{
          itemsPerPage:5,
          currentPage:page,
          totalItems:count} ">
          <td>{{details.id}}</td>
          <td style="padding-left: 20px;">{{details.title}}</td>
          <td style="padding-left: 20px;">{{details.description}}</td>
          <td style="padding-left: 20px;">{{details.status_id}}</td>
           <td> <button type="button" class="btn btn-outline-secondary" (click)="navigateToGetid(details.id)">edit</button> </td>
          <td> <button type="button" class="btn btn-outline-dark" (click)="onDeleteDetails(details.id)">delete</button></td>
        </tr>
    </table>
  </div>
</div>
<div>
  <pagination-controls previousLabel='prev' nextLabel='next' (pageChange)='page=($event)'></pagination-controls>
</div>